@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS follows here */
.custom-scrollbar::-webkit-scrollbar {
    width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #3a3f4b; /* Darker track */
    border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #60a5fa; /* Blue thumb */
    border-radius: 10px;
    border: 2px solid #3a3f4b;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #3b82f6; /* Darker blue on hover */
}

html {
    scroll-behavior: smooth;
}